<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detector</title>
</head>
<body>
    <h1>Detect who wrote the Text?</h1>
    <div class="div1">
        <input type="text" name="" id="text" placeholder="Enter Text.....">
        <br>
        <button id="button">Detect</button>
    </div>
    <!-- <div class="div2">
        <h3>
            Text is written by {{}}
        </h3>
    </div> -->
</body>
</html>